body {
    min-height: 100vh;
    margin: 0 32px;
}

.section1 {
    display: flex;
}

.main_img {
    border: 2px solid #3882F6;
    border-radius: 4px;
    padding: 4px;
    width: 300px;
    height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.section1 {

}

.section2 {}

.section3 {}

.quote {}

.hero1 {}

.hero2 {}

.card {}

.callToAction {}

.footer {}

img {
    border: 2px solid #3882F6;
    border-radius: 4px;
    padding: 4px;
    width: 200px;
}
 li {
    display: inline-flex;
    margin: 16px;    
 }